html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
  width: 100%;
  height: 100%;

  background:
	linear-gradient(
		cyan,
		transparent
	),
	linear-gradient(
		-45deg,
		magenta,
		transparent
	),
	linear-gradient(
		45deg,
		yellow,
		transparent
	);
	background-blend-mode: multiply;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
mark {
	background-color: transparent;
	color: inherit
}
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input,
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
strong {
	color: inherit;
	font-weight: bolder;
}
em {
	font-style: italic;
}
code {
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144, 144, 144, 0.25);
	border-radius: 0.25em;
}
mark {
	background-color: rgba(144, 144, 144, 0.25);
}
a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}
s {
	text-decoration: line-through;
}
html {
	font-size: 18pt;
}
#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
}
#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	overflow: hidden;
	text-align: center;
	-moz-transition: opacity 1s ease-in-out 0s;
	-webkit-transition: opacity 1s ease-in-out 0s;
	-ms-transition: opacity 1s ease-in-out 0s;
	transition: opacity 1s ease-in-out 0s;
}
#main > .inner {
	overflow-x: hidden;
	width: 48rem;
	max-width: 100%;
	padding: 2.5rem 2rem;
}
#main > .inner > header {
	margin-bottom: 1.5rem;
}
#main > .inner > footer {
	margin-top: 1.5rem;
}
#main > .inner > * > * {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
#main > .inner > * >:first-child {
	margin-top: 0 !important;
}
#main > .inner > * >:last-child {
	margin-bottom: 0 !important;
}
#main > .inner > * > .image {
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
}
#main > .inner > * > .video {
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
}
body.is-loading #main {
	opacity: 0;
}
#main > .inner > section {
	-moz-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
	-webkit-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
	-ms-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
	transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
}
#main > .inner > section.inactive {
	-moz-transition: opacity 0.375s ease-in-out;
	-webkit-transition: opacity 0.375s ease-in-out;
	-ms-transition: opacity 0.375s ease-in-out;
	transition: opacity 0.375s ease-in-out;
	opacity: 0;
}
h1 br + br,
p br + br {
	display: block;
	content: ' ';
}
#text01 br + br {
	margin-top: 0.825rem;
}
#text01 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Playfair Display';
	letter-spacing: 0.325rem;
	width: calc(100% + 0.325rem);
	font-size: 2.5em;
	line-height: 1.375;
	font-weight: 400;
}
#text04 br + br {
	margin-top: 0.975rem;
}
#text04 {
	color: #FFFFFF;
	font-family: 'Playfair Display';
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}
#text05 br + br {
	margin-top: 0.825rem;
}
#text05 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Playfair Display';
	letter-spacing: 0.325rem;
	width: calc(100% + 0.325rem);
	font-size: 1.5em;
	line-height: 1.375;
	font-weight: 400;
}
#text02 br + br {
	margin-top: 0.975rem;
}
#text02 {
	color: #FFFFFF;
	font-family: 'Playfair Display';
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}
#text07 br + br {
	margin-top: 0.825rem;
}
#text07 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Playfair Display';
	letter-spacing: 0.325rem;
	width: calc(100% + 0.325rem);
	font-size: 1.5em;
	line-height: 1.375;
	font-weight: 400;
}
#text08 br + br {
	margin-top: 0.975rem;
}
#text08 {
	color: #FFFFFF;
	font-family: 'Playfair Display';
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}
#text03 br + br {
	margin-top: 0.825rem;
}
#text03 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Playfair Display';
	letter-spacing: 0.325rem;
	width: calc(100% + 0.325rem);
	font-size: 1.5em;
	line-height: 1.375;
	font-weight: 400;
}
#text06 br + br {
	margin-top: 0.975rem;
}
#text06 {
	color: #FFFFFF;
	font-family: 'Playfair Display';
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}
.icons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}
.icons li {
	display: inline-block;
	vertical-align: middle;
}
.icons li a {
	display: block;
	color: inherit;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0;
}
.icons li a .label {
	display: none;
}
#icons01 {
	font-size: 1.5em;
	width: calc(100% + 1.5rem);
	margin-left: -0.75rem;
}
#icons01 li {
	margin: 0.75rem;
}
#icons01 .n01 {
	color: #FFFFFF;
}
#icons01 .n02 {
	color: #FFFFFF;
}
#icons01 .n03 {
	color: #FFFFFF;
}
#icons01 .n04 {
	color: #FFFFFF;
}
#icons01 .n05 {
	color: #FFFFFF;
}
hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}
hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}
#divider01 {
	height: 1rem;
	line-height: 1rem;
}
#divider01:before {
	width: 15%;
	background-color: #FFFFFF;
	height: 1px;
}
.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}
.buttons li a {
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	max-width: 100%;
}
#buttons01 {
	width: calc(100% + 1rem);
	margin-left: -0.5rem;
}
#buttons01 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 1rem);
	margin: 0.5rem;
}
#buttons01 li a {
	display: block;
	width: 8.125rem;
	height: 2.625rem;
	line-height: 2.625rem;
	padding: 0 1.3125rem;
	text-transform: uppercase;
	font-size: 0.625em;
	font-family: 'Playfair Display';
	letter-spacing: 0.225rem;
	padding-left: calc(0.225rem + 1.3125rem);
	font-weight: 400;
	border-radius: 0.375rem;
}
#buttons01 .n01 {
	color: #FFFFFF;
	border: solid 1px rgba(255, 255, 255, 0.169);
}
#buttons01 .n01:hover {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
#buttons01 .n02 {
	color: #FFFFFF;
	border: solid 1px rgba(255, 255, 255, 0.169);
}
#buttons01 .n02:hover {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
#buttons01 .n03 {
	color: #FFFFFF;
	border: solid 1px rgba(255, 255, 255, 0.169);
}
#buttons01 .n03:hover {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}
@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}
@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	#main > .inner {
		padding: 4rem 2rem;
	}
	#divider01 {
		height: 1rem;
		line-height: 1rem;
	}
}
@media (max-width: 480px) {
	#buttons01 li a {
		width: 8.125rem;
	}
}
@media (max-width: 360px) {
	#main > .inner {
		padding: 3rem 1.25rem;
	}
	#text01 {
		font-size: 2em;
	}
	#icons01 {
		width: calc(100% + 1.125rem);
		margin-left: -0.5625rem;
	}
	#icons01 li {
		margin: 0.5625rem;
	}
	#buttons01 {
		width: calc(100% + 0.75rem);
		margin-left: -0.375rem;
	}
	#buttons01 li {
		max-width: calc(100% - 0.75rem);
		margin: 0.375rem;
	}
	#icons01 {
        width: calc(100% + 0.5625rem);
        margin-left: -0.28125rem;
    }
  #icons01 li {
      margin: 0.28125rem;
  }
}
